aside.Aside
  .Aside-container
    h2 Aside
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, labore. Nesciunt natus assumenda provident excepturi architecto, dignissimos suscipit reprehenderit, accusamus dolores atque nobis praesentium, eveniet explicabo libero voluptates repellat adipisci!
