main.Main#Main
  .Main-container
    section#inicio
      h2 Inicio
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium reprehenderit neque minima quod tempore odio sed ratione. Tempore similique sunt dignissimos praesentium impedit, provident consectetur voluptatibus voluptate aspernatur culpa tempora!
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium reprehenderit neque minima quod tempore odio sed ratione. Tempore similique sunt dignissimos praesentium impedit, provident consectetur voluptatibus voluptate aspernatur culpa tempora!
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium reprehenderit neque minima quod tempore odio sed ratione. Tempore similique sunt dignissimos praesentium impedit, provident consectetur voluptatibus voluptate aspernatur culpa tempora!
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium reprehenderit neque minima quod tempore odio sed ratione. Tempore similique sunt dignissimos praesentium impedit, provident consectetur voluptatibus voluptate aspernatur culpa tempora!
    section#nosotros
      h2 Nosotros
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium reprehenderit neque minima quod tempore odio sed ratione. Tempore similique sunt dignissimos praesentium impedit, provident consectetur voluptatibus voluptate aspernatur culpa tempora!
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium reprehenderit neque minima quod tempore odio sed ratione. Tempore similique sunt dignissimos praesentium impedit, provident consectetur voluptatibus voluptate aspernatur culpa tempora!
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium reprehenderit neque minima quod tempore odio sed ratione. Tempore similique sunt dignissimos praesentium impedit, provident consectetur voluptatibus voluptate aspernatur culpa tempora!
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium reprehenderit neque minima quod tempore odio sed ratione. Tempore similique sunt dignissimos praesentium impedit, provident consectetur voluptatibus voluptate aspernatur culpa tempora!
      include ../elements/slider
    section#servicios
      h2 Servicios
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium reprehenderit neque minima quod tempore odio sed ratione. Tempore similique sunt dignissimos praesentium impedit, provident consectetur voluptatibus voluptate aspernatur culpa tempora!
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium reprehenderit neque minima quod tempore odio sed ratione. Tempore similique sunt dignissimos praesentium impedit, provident consectetur voluptatibus voluptate aspernatur culpa tempora!
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium reprehenderit neque minima quod tempore odio sed ratione. Tempore similique sunt dignissimos praesentium impedit, provident consectetur voluptatibus voluptate aspernatur culpa tempora!
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium reprehenderit neque minima quod tempore odio sed ratione. Tempore similique sunt dignissimos praesentium impedit, provident consectetur voluptatibus voluptate aspernatur culpa tempora!
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium reprehenderit neque minima quod tempore odio sed ratione. Tempore similique sunt dignissimos praesentium impedit, provident consectetur voluptatibus voluptate aspernatur culpa tempora!
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium reprehenderit neque minima quod tempore odio sed ratione. Tempore similique sunt dignissimos praesentium impedit, provident consectetur voluptatibus voluptate aspernatur culpa tempora!
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium reprehenderit neque minima quod tempore odio sed ratione. Tempore similique sunt dignissimos praesentium impedit, provident consectetur voluptatibus voluptate aspernatur culpa tempora!
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium reprehenderit neque minima quod tempore odio sed ratione. Tempore similique sunt dignissimos praesentium impedit, provident consectetur voluptatibus voluptate aspernatur culpa tempora!
      include ../elements/tabs

