{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3.8,
        "useBuiltIns": "usage",
        "targets": {
          "browsers":[
            ">0.25%",
            "not dead",
            "not ie 11",
            "not op_mini all"
          ]
        }
      }
    ]
  ]
}
