
// Para manejar los estilos de los titulos

.display-1{
  font-weight: 700;
  font-size: 64px;
}

.display-2{
  font-weight: 700;
  font-size: 54px;
}

.display-3{
  font-weight: 700;
  font-size: 44px;
}

.titulo-card{
  color: grey;
}
