<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ada Workflow</title>
</head>
<body>
  <header class="Header">
    <h1>Header prueba</h1>
    {{> ../elementos/menu}}
  </header>
  <section class="Container-central">
    <main class="Main">
      <h1>Main</h1>
    </main>
  </section>
  <footer class="Footer">
    <h1>Footer</h1>
  </footer>
</body>
</html>