<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ada</title>
</head>
<body>
  <header class="Header">
    <div class="contenedor">
      <div class="Panel">
        <nav class="nav">
          <a href="#" class="activo">Inicio</a>
          <a href="#">Blog</a>
          <a href="#">Acerca de</a>
          <a href="#">Contacto</a>
        </nav>
      </div>
    </div>
  </header>
  <div class="contenedor">
    <h1>Encabezado H1</h1>
    <h2>Encabezado H2</h2>
    <h3>Encabezado H3</h3>
    <h4>Encabezado H4</h4>
    <h5>Encabezado H5</h5>
    <h6>Encabezado H6</h6>
  </div>

  <div class="contenedor">
    <h1 class="display-1">Display 1</h1>
    <h2 class="display-2">Display 2</h2>
    <h3 class="display-3">Display 3</h3>
  </div>

  <div class="contenedor">
    <main class="grid col-2 col-4-smm col-6-mdl gap-15">
      <div class="card pad-15">Card 1</div>
      <div class="card pad-15">Card 2</div>
      <div class="card pad-15">Card 3</div>
      <div class="card pad-15">Card 4</div>
      <div class="card pad-15">Card 5</div>
      <div class="card pad-15">Card 6</div>
    </main>
  </div>

  <div class="contenedor card mg-top-20 text-center pad-20">
    <h1 class="display-2">Lorem ipsum dolor sit amet.</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam asperiores impedit cum quasi beatae eaque pariatur officia, eius eum eos rem id cupiditate, nihil commodi, laborum provident molestiae hic sapiente.</p>
    <button class="btn">Boton</button>
    <button class="btn">Boton</button>
  </div>

  <div class="contenedor mg-top-20">
    <div class="card w-50 pad-15">
      <h3 class="titulo-card">
        Registrate
      </h3>
      <form action=""
            class="form">
        <div class="form-item">
          <input type="text"
                 class="input"
                 name="correo"
                 id="Correo"
                 placeholder="Correo Electrónico">
        </div>
        <div class="form-item">
          <input type="password"
                 class="input"
                 name="password"
                 id="Password"
                 placeholder="Contraseña">
        </div>
        <div class="form-item">
          <button class="btn">Suscríbete</button>
          <button class="btn">Regístrate</button>
        </div>
      </form>
    </div>
  </div>

</body>
</html>
