extends ../template/modelo
append config
  -titulo = "Modelo | Nosotros";
  - descripcion = "Somos blabla bla";

block header
 include ../bloques/header
block main
 include ../secciones/main-nosotros
block footer
 include ../bloques/footer
