extends ../template/modelo
append config
  -titulo = "Modelo | Nosotros";
  - descripcion = "Somos blabla bla";

block header
  include ../secciones/header
block main
  include ../mains/main-nosotros
block aside
  include ../secciones/aside
block footer
  include ../secciones/footer
block script
  script(src="js/nosotros.js")
