extends ../template/modelo
append config
  -titulo = "Modelo | Servicios";
  - descripcion = "Ofrecemos blabla bla";

block header
 include ../bloques/header
block main
 include ../secciones/main-servicios
block footer
 include ../bloques/footer
