extends ../template/model-full
append config
  -titulo = "Modelo | Servicios";
  - descripcion = "Ofrecemos blabla bla";

block header
 include ../secciones/header
block main
 include ../mains/main-servicios
block footer
 include ../secciones/footer
block script
 script(src="js/nosotros.js")
