//- Variables
-let titulo = "Modelo";
-let url = "http://localhost:3000/";
//- -let url = "https://esfera-digital.000webhostapp.com/";
-let descripcion = "Descripción breve";
-let fuentes = "https://fonts.googleapis.com/css?family=Anton|Open+Sans";
-let iconos = "https://use.fontawesome.com/releases/v5.7.2/css/all.css";
-let hamburguesa = "https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.1.3/hamburgers.min.css";

-
  let link = {
    inicio: url,
    nosotros: url + "nosotros.html",
    servicios: url + "servicios.html",
    contacto: url + "contacto.html"
  }


//- sintaxis
//- - var saludo = "Hola mundo!"
//- asignación
//- p = saludo
//- //interpolación
//- p Soy un #{saludo}
