
// Para las clases que añaden distintos tipos de columnas que puede tener un elemento con la clase grid

// Crearlos con mixin

@mixin col($col, $fr: 1fr){
  grid-template-columns: repeat($col, $fr);
}

.col-1 {@include col(1, 1fr);}
.col-2 {@include col(2, 1fr);}
.col-3 {@include col(3, 1fr);}
.col-4 {@include col(4, 1fr);}
.col-5 {@include col(5, 1fr);}
.col-6 {@include col(6, 1fr);}
.col-7 {@include col(7, 1fr);}
.col-8 {@include col(8, 1fr);}
.col-9 {@include col(9, 1fr);}
.col-10 {@include col(10, 1fr);}
.col-11 {@include col(11, 1fr);}
.col-12 {@include col(12, 1fr);}

@media screen and (min-width: $small-medium){
  .col-1-smm {@include col(1, 1fr);}
  .col-2-smm {@include col(2, 1fr);}
  .col-3-smm {@include col(3, 1fr);}
  .col-4-smm {@include col(4, 1fr);}
  .col-5-smm {@include col(5, 1fr);}
  .col-6-smm {@include col(6, 1fr);}
  .col-7-smm {@include col(7, 1fr);}
  .col-8-smm {@include col(8, 1fr);}
  .col-9-smm {@include col(9, 1fr);}
  .col-10-smm {@include col(10, 1fr);}
  .col-11-smm {@include col(11, 1fr);}
  .col-12-smm {@include col(12, 1fr);}
}

@media screen and (min-width: $medium-large){
  .col-1-mdl {@include col(1, 1fr);}
  .col-2-mdl {@include col(2, 1fr);}
  .col-3-mdl {@include col(3, 1fr);}
  .col-4-mdl {@include col(4, 1fr);}
  .col-5-mdl {@include col(5, 1fr);}
  .col-6-mdl {@include col(6, 1fr);}
  .col-7-mdl {@include col(7, 1fr);}
  .col-8-mdl {@include col(8, 1fr);}
  .col-9-mdl {@include col(9, 1fr);}
  .col-10-mdl {@include col(10, 1fr);}
  .col-11-mdl {@include col(11, 1fr);}
  .col-12-mdl {@include col(12, 1fr);}
}

@media screen and (min-width: $large-small){
  .col-1-lgs {@include col(1, 1fr);}
  .col-2-lgs {@include col(2, 1fr);}
  .col-3-lgs {@include col(3, 1fr);}
  .col-4-lgs {@include col(4, 1fr);}
  .col-5-lgs {@include col(5, 1fr);}
  .col-6-lgs {@include col(6, 1fr);}
  .col-7-lgs {@include col(7, 1fr);}
  .col-8-lgs {@include col(8, 1fr);}
  .col-9-lgs {@include col(9, 1fr);}
  .col-10-lgs {@include col(10, 1fr);}
  .col-11-lgs {@include col(11, 1fr);}
  .col-12-lgs {@include col(12, 1fr);}
}

@media screen and (min-width: $large-medium){
  .col-1-lgm {@include col(1, 1fr);}
  .col-2-lgm {@include col(2, 1fr);}
  .col-3-lgm {@include col(3, 1fr);}
  .col-4-lgm {@include col(4, 1fr);}
  .col-5-lgm {@include col(5, 1fr);}
  .col-6-lgm {@include col(6, 1fr);}
  .col-7-lgm {@include col(7, 1fr);}
  .col-8-lgm {@include col(8, 1fr);}
  .col-9-lgm {@include col(9, 1fr);}
  .col-10-lgm {@include col(10, 1fr);}
  .col-11-lgm {@include col(11, 1fr);}
  .col-12-lgm {@include col(12, 1fr);}
}

@media screen and (min-width: $large){
  .col-1-lg {@include col(1, 1fr);}
  .col-2-lg {@include col(2, 1fr);}
  .col-3-lg {@include col(3, 1fr);}
  .col-4-lg {@include col(4, 1fr);}
  .col-5-lg {@include col(5, 1fr);}
  .col-6-lg {@include col(6, 1fr);}
  .col-7-lg {@include col(7, 1fr);}
  .col-8-lg {@include col(8, 1fr);}
  .col-9-lg {@include col(9, 1fr);}
  .col-10-lg {@include col(10, 1fr);}
  .col-11-lg {@include col(11, 1fr);}
  .col-12-lg {@include col(12, 1fr);}
}

// Para determinar cuantas columnas ocupa cada elemento hijo

.span-1{grid-column: span 1;}
.span-2{grid-column: span 2;}
.span-3{grid-column: span 3;}
.span-4{grid-column: span 4;}
.span-5{grid-column: span 5;}
.span-6{grid-column: span 6;}
.span-7{grid-column: span 7;}
.span-8{grid-column: span 8;}
.span-9{grid-column: span 9;}
.span-10{grid-column: span 10;}
.span-11{grid-column: span 11;}
.span-12{grid-column: span 12;}

@media screen and (min-width: $small-medium){
  .span-1-smm{grid-column: span 1;}
  .span-2-smm{grid-column: span 2;}
  .span-3-smm{grid-column: span 3;}
  .span-4-smm{grid-column: span 4;}
  .span-5-smm{grid-column: span 5;}
  .span-6-smm{grid-column: span 6;}
  .span-7-smm{grid-column: span 7;}
  .span-8-smm{grid-column: span 8;}
  .span-9-smm{grid-column: span 9;}
  .span-10-smm{grid-column: span 10;}
  .span-11-smm{grid-column: span 11;}
  .span-12-smm{grid-column: span 12;}
}

@media screen and (min-width: $medium-large){
  .span-1-mdl{grid-column: span 1;}
  .span-2-mdl{grid-column: span 2;}
  .span-3-mdl{grid-column: span 3;}
  .span-4-mdl{grid-column: span 4;}
  .span-5-mdl{grid-column: span 5;}
  .span-6-mdl{grid-column: span 6;}
  .span-7-mdl{grid-column: span 7;}
  .span-8-mdl{grid-column: span 8;}
  .span-9-mdl{grid-column: span 9;}
  .span-10-mdl{grid-column: span 10;}
  .span-11-mdl{grid-column: span 11;}
  .span-12-mdl{grid-column: span 12;}
}

@media screen and (min-width: $large-small){
  .span-1-lgs{grid-column: span 1;}
  .span-2-lgs{grid-column: span 2;}
  .span-3-lgs{grid-column: span 3;}
  .span-4-lgs{grid-column: span 4;}
  .span-5-lgs{grid-column: span 5;}
  .span-6-lgs{grid-column: span 6;}
  .span-7-lgs{grid-column: span 7;}
  .span-8-lgs{grid-column: span 8;}
  .span-9-lgs{grid-column: span 9;}
  .span-10-lgs{grid-column: span 10;}
  .span-11-lgs{grid-column: span 11;}
  .span-12-lgs{grid-column: span 12;}
}

@media screen and (min-width: $large-medium){
  .span-1-lgm{grid-column: span 1;}
  .span-2-lgm{grid-column: span 2;}
  .span-3-lgm{grid-column: span 3;}
  .span-4-lgm{grid-column: span 4;}
  .span-5-lgm{grid-column: span 5;}
  .span-6-lgm{grid-column: span 6;}
  .span-7-lgm{grid-column: span 7;}
  .span-8-lgm{grid-column: span 8;}
  .span-9-lgm{grid-column: span 9;}
  .span-10-lgm{grid-column: span 10;}
  .span-11-lgm{grid-column: span 11;}
  .span-12-lgm{grid-column: span 12;}
}

@media screen and (min-width: $large){
  .span-1-lg{grid-column: span 1;}
  .span-2-lg{grid-column: span 2;}
  .span-3-lg{grid-column: span 3;}
  .span-4-lg{grid-column: span 4;}
  .span-5-lg{grid-column: span 5;}
  .span-6-lg{grid-column: span 6;}
  .span-7-lg{grid-column: span 7;}
  .span-8-lg{grid-column: span 8;}
  .span-9-lg{grid-column: span 9;}
  .span-10-lg{grid-column: span 10;}
  .span-11-lg{grid-column: span 11;}
  .span-12-lg{grid-column: span 12;}
}
