main.Main#Main
  .Main-container
    h2 Main
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam at soluta tempora officia laboriosam exercitationem, magnam consequatur aliquid. Aspernatur perferendis commodi nesciunt! Beatae voluptate eaque ea, similique animi a recusandae.
    .Container-grid-4
      .Box-img
        img(src="http://lorempixel.com/400/400/")
      .Box-img
        img(src="http://lorempixel.com/400/200/")
      .Box-text
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius delectus tenetur fuga tempore temporibus modi itaque maiores, impedit ut vel dolorem unde dignissimos assumenda dicta illo numquam cupiditate, cum nam.
      .Box-audio
        audio(controls="controls")
          source(src="assets/audio.ogg" type="audio/ogg")
          source(src="assets/audio.mp3" type="audio/mpeg")
      .Box-video
        video(controls="controls")
          source(src="assets/video.mp4" type="video/mp4")
          source(src="assets/video.webm" type="video/webm")
          source(src="assets/video.ogv" type="video/ogv")
          img(src="img/video-not-found.png" alt="video no soportado")
      .Box-form
        input(type="search" value="Buscar")
    .Container-grid-3
      .Box-img
        img(src="http://lorempixel.com/400/400/")
      .Box-img
        img(src="http://lorempixel.com/400/200/")
      .Box-text
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius delectus tenetur fuga tempore temporibus modi itaque maiores, impedit ut vel dolorem unde dignissimos assumenda dicta illo numquam cupiditate, cum nam.
      .Box-audio
        audio(controls="controls")
          source(src="assets/audio.ogg" type="audio/ogg")
          source(src="assets/audio.mp3" type="audio/mpeg")
      .Box-video
        video(controls="controls")
          source(src="assets/video.mp4" type="video/mp4")
          source(src="assets/video.webm" type="video/webm")
          source(src="assets/video.ogv" type="video/ogv")
          img(src="img/video-not-found.png" alt="video no soportado")
      .Box-form-search
        input(type="search" value="Qué buscas?")
        button(type="submit") Buscar
