header.Header
  section.Header-container
    div.Logo
      a(href=link.inicio)
        img(src="img/logo.png", alt="Logo-Seming")
    button(type="button" class="Panel-btn hamburger hamburger--elastic")
      span.hamburger-box
        span.hamburger-inner
    section.Panel
      nav.Menu
        ul
          li
            a(href=link.inicio) Inicio
          li
            a(href=link.nosotros) Nosotros
          li
            a(href=link.servicios) Servicios
