header.Header#Header
  section.Header-container
    div.Logo
      a(href=link.inicio)
        img(src="img/logo.png", alt="Logo-Seming")
    button(type="button" class="Panel-btn hamburger hamburger--elastic")
      span.hamburger-box
        span.hamburger-inner
    section.Panel
      nav.Menu
        ul
          li
            a(href="#inicio") Inicio
          li
            a(href="#nosotros") Nosotros
          li
            a(href="#servicios") Servicios
