// Variables

//Mixins

@mixin con-aside{
  display: grid;
  margin: auto;
  max-width: var(--main-maximo);
  grid-gap: var(--gap-aside);
  grid-template-columns: var(--columns-aside);

}


.Container-central{
  @include con-aside;
}
