// Para guardar variables globales que podamos reutilizar, por ejemplo, sombras

// Variables para maquetación

$ancho-maximo: 1600px; // para la clase contenedor
$ancho-total: 1920px;
$sombra: 0px 0px 30px color(sombra);
$borde-card: 3px;

// Estilos generales

body{
  background: color(fondo);
  font-family: $fuente-parrafos;
  font-size: 18px;
}

p{
  line-height: 27px;
}

img{
  vertical-align: top;
  width: 100%;
}
