extends ../template/model-full
append config
  -titulo = "Modelo | Nosotros";
  - descripcion = "Somos blabla bla";

block header
  include ../secciones/header
block main
  include ../mains/main-nosotros
block footer
  include ../secciones/footer
block script
  script(src="js/nosotros.js")
